@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.product-card {
  background-color: #fff;
  margin-top: 1rem;
  border: 2px solid transparent;
  border-radius: 4px;
}

.product-card:hover {
  background-color: #fff;
  border-color: #dc143c;
}

.img-product-card {
  display: flex;
  width: 200px;
  height: 200px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.card-description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.card-price {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
