.product-card {
  background-color: #27272a;
  margin-top: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
}

.product-card:hover {
  background-color: #323232;
  border-color: #dc143c;
}

.img-product-card {
  max-width: 300px;
  max-height: 300px;
}
