@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.navbarContainer {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-right: 1rem;
}

.navbarList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ccc;
}

img {
  padding: 0;
  width: 100px;
  height: 100px;
  align-items: center;
}
